.users_form {
    margin: 2rem auto;
    padding: 1rem;
    width: 90%; /* element take up 90% of its parents width i.e. viewport, but not exceed a maximum width of 40 rem units => when size<40 rem then takes up 90%  */
    max-width: 40rem;
  }
  
  .users_form label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .users_form input {
    font: inherit;
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    padding: 0.15rem;
    margin-bottom: 0.5rem;
  }
  
  .users_form input:focus {
    outline: none;
    border-color: #4f005f;
  }