.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background: rgba(0, 0, 0, 0.75);
  }
  
  .modal {
    position: fixed;
    top: 30vh;
    left: 10%;
    width: 80%;
    z-index: 2;
    /* overflow: hidden; */
  }
  
  .header {
    background: #4f005f;
    padding: 1rem;
  }
  
  .header h2 {
    margin: 0;
    color: white;
  }
  
  .messg {
    padding: 1rem;
  }
  
  .footer {
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
  }
  
  @media (min-width: 768px) {  /* styles is applied only when the minimum width of the viewport is 768 pixels or wider. In other words, it targets devices with a width of 768 pixels and above. */
    .modal {
      left: calc(50% - 20rem);  /* This property sets the horizontal position of the .modal element. It uses the calc() function to calculate the value. In this case, it horizontally centers the element by subtracting 20rem from 50% (half of the viewport width). */
      width: 40rem;
    }
  }